/*CSS da página de Nacional.html*/


body{
    margin: 0%;
    background-color:#012501;
    background-image: url("Images/fundo-paginasLivros-verde.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
}
#marca-pagina-corpo{ /*Corpo do marca página*/
    background-color: #faba17;
}
@media screen and (min-width: 992px){
    #marca-pagina-ponta{ /*Ponta triângular do marca página*/
        border-top: 50px solid #faba17;
    }
}
@media screen and (max-width: 992px){
    #marca-pagina-ponta{ /*Ponta triângular do marca página*/
        border-top: 50px solid transparent;
        border-left: 50px solid #faba17;
    }
}

/*Fundos de cada bloco de informações dos livros*/
#euEEsseMeuCoracao{ 
    background-image: url("Images/Capas-Livros/fundos/euEEsseMeuCoracao-livro-nacional.png")
}
#prisioneirosDaMente{
    background-image: url("Images/Capas-Livros/fundos/prisioneirosDaMente-livro-nacionais.png");
}
#paraSempre{
    background-image: url("Images/Capas-Livros/fundos/paraSempre-livro-nacionais.png");
}
.temaFundo { /*Div de cada livro*/
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 0px 20px 20px 0px;
    border-bottom: 3px dashed green;
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.3);
}