/*CSS da página Fantasia.html*/


body{
    margin: 0%;
    background-color:#31060f;
    background-image: url("Images/fundo-paginasLivros-goiaba.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
}
#marca-pagina-corpo{ /*Corpo do marca página*/
    background-color: cornflowerblue;
}
@media screen and (min-width: 992px){
    #marca-pagina-ponta{ /*Ponta triângular do marca página*/
        border-top: 50px solid cornflowerblue;
    }
}
@media screen and (max-width: 992px){
    #marca-pagina-ponta{ /*Ponta triângular do marca página*/
        border-top: 50px solid transparent;
        border-left: 50px solid cornflowerblue;
    }
}
/*Fundos de cada bloco de informações dos livros*/
#nomeDoVento{ 
    background-image: url("Images/Capas-Livros/fundos/NomeDoVento-livro-fantasia.png")
}
#labirintoFauno{
    background-image: url("Images/Capas-Livros/fundos/labirintoDoFauno-livro-fantasia.png");
}
#percyJackson{
    background-image: url("Images/Capas-Livros/fundos/percy Jackson-livro-fantasia.png");
}
.temaFundo { /*Div de cada livro*/
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 0px 20px 20px 0px;
    border-bottom: 3px dashed crimson;
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.3);
}