/*CSS da página Ficcao.html*/


body{
    margin: 0%;
    background-color:#154760;
    background-image: url("Images/fundo-paginasLivros-azul.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
}
#marca-pagina-corpo{ /*Corpo do marca página*/
    background-color: #3a3a3a;
}
@media screen and (min-width: 992px){
    #marca-pagina-ponta{ /*Ponta triângular do marca página*/
        border-top: 50px solid #3a3a3a;
    }
}
@media screen and (max-width: 992px){
    #marca-pagina-ponta{ /*Ponta triângular do marca página*/
        border-top: 50px solid transparent;
        border-left: 50px solid #3a3a3a;
    }
}
/*Fundos de cada bloco de informações dos livros*/
#aGuardia{ 
    background-image: url("Images/Capas-Livros/fundos/a\ guardiã-livro-ficcao.png")
}
#anjoSilencioso{
    background-image: url("Images/Capas-Livros/fundos/O\ anjo\ silencioso-livro-ficcao.png");
}
#euRobo{
    background-image: url("Images/Capas-Livros/fundos/euRobo-livro-ficcao.png");
}
.temaFundo { /*Div de cada livro*/
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 0px 20px 20px 0px;
    border-bottom: 3px dashed lightblue;
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.3);

}