/*CSS da página Fantasia.html*/


body{
    margin: 0%;
    background-color:#31060f;
    background-image: url("Images/fundo-paginasLivros-goiaba.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
}
#tituloPagina{
    background-color: #d71b3e80;
}

/*Fundos de cada bloco de informações dos livros*/
#nomeDoVento{ 
    background-image: url("Images/Capas-Livros/fundos/NomeDoVento-livro-fantasia.png")
}
#labirintoFauno{
    background-image: url("Images/Capas-Livros/fundos/labirintoDoFauno-livro-fantasia.png");
}
#percyJackson{
    background-image: url("Images/Capas-Livros/fundos/percy Jackson-livro-fantasia.png");
}
.temaFundo { /*Div de cada livro*/
    background-repeat: no-repeat;
    background-size: cover;
    width: 50%;
    border-radius: 0px 20px 20px 0px;
    border-bottom: 3px dashed crimson;
}