/*CSS da página Creditos.html*/


body
{
    margin: 0%;
    background-color:#18191a;
}
#interface{
    text-align: center;
    margin: 12%;
    margin-bottom: 5%;
    margin-top: 5%;
    padding: 2%;
    background-color: #313436;
    border-radius: 30px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.2);
}
#tabReferencias tr:nth-child(odd) {
    background: #ad9260;
}
#tabReferencias tr:nth-child(even) {
    background: #524432;
}

#tabReferencias td, #tabReferencias th, #tabReferencias caption{
    border-style: groove;
    border-width: 5px; 
    border-color: #c06c0c;
}
#tabReferencias{
    margin: auto;
    margin-top: 10%;
    width: 70%;
}