/*CSS da página Terror.html*/


body {
    margin: 0%;
    background-color: #0c0d11;
    background-image: url("Images/fundo-paginasLivros-preto.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
}

#tituloPagina {
    background-color: #2f36468e;
}

/*Fundos de cada bloco de informações dos livros*/
#oCemiterio{
    background-image: url("Images/Capas-Livros/fundos/oCemiterio-livro-terror.png");
}
#it{
    background-image: url("Images/Capas-Livros/fundos/it-livro-terror.png");
}
#coraline{
    background-image: url("Images/Capas-Livros/fundos/coraline-livro-terror.png");
}

.temaFundo { /*Div de cada livro*/
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 0px 20px 20px 0px;
    border-bottom: 3px dashed darkred;
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.3);
}