/*CSS da página Aventura.html*/


body{
    margin: 0%;
    background-color: #622f00;
    background-image: url("Images/fundo-paginasLivros-laranja.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
}
#tituloPagina{
    background-color: #ce78279a;
}
/*Fundos de cada bloco de informações dos livros*/
#emAlgumLugarNasEstrelas{ 
    background-image: url("Images/Capas-Livros/fundos/emAlgumLugarNasEstrelas.png")
}
#sherlockHolmes{
    background-image: url("Images/Capas-Livros/fundos/holmes-livro-aventura.png");
}
#duna{
    background-image: url("Images/Capas-Livros/fundos/Duna-livro-aventura.png");
}
.temaFundo { /*Div de cada livro*/
    background-repeat: no-repeat;
    background-size: cover;
    width: 50%;
    border-radius: 0px 20px 20px 0px;
    border-bottom: 3px dashed coral;
}