/*CSS da página de Nacional.html*/


body{
    margin: 0%;
    background-color:#012501;
    background-image: url("Images/fundo-paginasLivros-verde.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
}
#tituloPagina{
    background-color: #0ab10180;
}

/*Fundos de cada bloco de informações dos livros*/
#euEEsseMeuCoracao{ 
    background-image: url("Images/Capas-Livros/fundos/euEEsseMeuCoracao-livro-nacional.png")
}
#prisioneirosDaMente{
    background-image: url("Images/Capas-Livros/fundos/prisioneirosDaMente-livro-nacionais.png");
}
#paraSempre{
    background-image: url("Images/Capas-Livros/fundos/paraSempre-livro-nacionais.png");
}
.temaFundo { /*Div de cada livro*/
    background-repeat: no-repeat;
    background-size: cover;
    width: 50%;
    border-radius: 0px 20px 20px 0px;
    border-bottom: 3px dashed green;
}