/*CSS da página Aventura.html*/


body{
    margin: 0%;
    background-color: #622f00;
    background-image: url("Images/fundo-paginasLivros-laranja.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
}
#marca-pagina-corpo{ /*Corpo do marca página*/
    background-color: #f0612e;
}
@media screen and (min-width: 992px){
    #marca-pagina-ponta{ /*Ponta triângular do marca página*/
        border-top: 50px solid #f0612e;
    }
}
@media screen and (max-width: 992px){
    #marca-pagina-ponta{ /*Ponta triângular do marca página*/
        border-top: 50px solid transparent;
        border-left: 50px solid #f0612e;
    }
}
/*Fundos de cada bloco de informações dos livros*/
#emAlgumLugarNasEstrelas{ 
    background-image: url("Images/Capas-Livros/fundos/emAlgumLugarNasEstrelas.png")
}
#sherlockHolmes{
    background-image: url("Images/Capas-Livros/fundos/holmes-livro-aventura.png");
}
#duna{
    background-image: url("Images/Capas-Livros/fundos/Duna-livro-aventura.png");
}
.temaFundo { /*Div de cada livro*/
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 0px 20px 20px 0px;
    border-bottom: 3px dashed coral;
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.3);
}