
/*Padrão do site*/

/*Header e Nav*/
header {
    overflow: hidden;
    background-image: url("Images/Madeira clara.png");
    box-shadow: 0px 5px 10px 2px rgba(0, 0, 0, 0.5);
}

header img { /*Imagem dentro da tabela da barra de navegação*/
    width: 80px;
}

#imgLogo { /*Logo do site dentro da tabela*/
    text-align: right;
}

#txtLogo { /*Texto nome do site dentro da tabela*/
    text-align: left;
}
@media screen and (min-width: 992px){
    header table { /*definindo tamanho da tabela da barra superior*/
        width: 80%;
    }
}
@media screen and (max-width: 992px){
    header table {
        width: 100%;
    }
}

header li, .footer li, .footerFixo li{ /*formatando como todas as <li> serão posicionadas*/
    display: inline;
}

nav li { /*Definindo as fontes dos textos do <nav>*/
    list-style: none;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1.25em;
    margin-right: 5%;
}

header a { /*Tirando decorações dos links*/
    color: black;
    text-decoration: none;
    font-weight: normal;
}

/*Botão dropdown*/
#dropdown {
    display: inline-block;
}

.dropdown-content { /*Conteúdo do botão dropdown*/
    display: none;
    position: absolute;
    background-color: #313030;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

.dropdown-content a { /*Links do botão dropdown*/
    color: rgb(230, 230, 230);
    font-size: 0.9em;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover { /*Evento ao passar o evento*/
    background-color: #3f3f3f;
}

#dropdown:hover .dropdown-content, #dropdown.over .dropdown-content {
    display: block;
}



/*Fontes no geral*/
@font-face {
    /* Definindo uma fonte externa */
    font-family: "Fabiana";
    src: url("Fonts/Fabiana.ttf");
}

.fabiana-font { /*Os objetos com essa classe irão receber a fonte*/
    font-family: "Fabiana";
    font-size: 1.875em;
}

h1 {
    color: rgb(236, 236, 236);
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

p, h2 { /*Lembrar de mudar o tamanho das fontes de px para em*/
    color: rgb(230, 230, 230);
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

span { 
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

.link{ /*Links do site*/ /*Lembrar de remover essa parte do código q está no CSS de outras páginas*/
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
    color: khaki;
    text-decoration: underline solid khaki;
}
.footer { /*Footer*/
    background-image: url("Images/Madeira escura.jpg");
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    margin-top: 10%;
    width: 100%;
    height: 35px; /*Lembrar de mudar para porcentagem*/
    color: white;
}
.footerFixo { /*Footer fixo na parte baixa da viewport*/
    background-image: url("Images/Madeira escura.jpg");
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    position: fixed;
    bottom: 0%;
    width: 100%;
    height: 35px; /*Lembrar de mudar para porcentagem*/
    color: white;
}
/*Centralização dos footers*/
.footer ul, .footerFixo ul {
    margin: 0px;
    padding: 0%;
    width: 100%;
    height: 100%;
    display: table;
    text-align: center;
}
.footer li, .footerFixo li{
    display: table-cell;
    vertical-align: middle;
} /*Fim do padrão do site*/