/*CSS da página Creditos.html*/


body{
    margin: 0%;
    background-color:#18191a;
}
#interface{
    text-align: center;
    /*margin: 12%;*/
    margin-top: 5%;
    padding: 2%;
    background-color: #313436;
    border-radius: 30px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.2);
}
#navbar-participacoes{
    width: 100%;
}

#tabReferencias{
    width: 60%;
}
/*
@media screen and (min-width: 992px){
    #interface{
        text-align: center;
        margin: 12%;
        margin-top: 5%;
        padding: 2%;
        background-color: #313436;
        border-radius: 30px;
        box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.2);
    }
    #tabReferencias{
        width: 70%;
    }
}
*/
/*
@media screen and (max-width: 992px){ /*Pequenas adaptações da página para telas menores*
    #interface{
        text-align: center;
        margin: 5%;
        margin-top: 5%;
        padding: 2%;
        background-color: #313436;
        border-radius: 30px;
        box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.2);
    }
    #tabReferencias{
        margin: auto;
        margin-top: 10%;
        width: 90%;
    }
}
*/
/*Tabela com 
2.4.1) título da tabela
2.4.2) cabeçalho das colunas
2.4.3) mesclagem de linhas ou colunas
2.4.4) linha "zebradas"*/
#tabReferencias th{
    background: #382e22;;
}
#tabReferencias tr:nth-child(odd) {
    background: #ad9260;
}
#tabReferencias tr:nth-child(even) {
    background: #524432;
}

#tabReferencias td, #tabReferencias th, #tabReferencias caption{
    border-style: groove;
    border-width: 5px; 
    border-color: #c06c0c;
}
#tabReferencias{
    margin: auto;
    margin-top: 10%;
}