/*CSS da página Ficcao.html*/


body{
    margin: 0%;
    background-color:#154760;
    background-image: url("Images/fundo-paginasLivros-azul.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
}
#tituloPagina{
    background-color: #259cd88f;
}

/*Fundos de cada bloco de informações dos livros*/
#aGuardia{ 
    background-image: url("Images/Capas-Livros/fundos/a\ guardiã-livro-ficcao.png")
}
#anjoSilencioso{
    background-image: url("Images/Capas-Livros/fundos/O\ anjo\ silencioso-livro-ficcao.png");
}
#euRobo{
    background-image: url("Images/Capas-Livros/fundos/euRobo-livro-ficcao.png");
}
.temaFundo { /*Div de cada livro*/
    background-repeat: no-repeat;
    background-size: cover;
    width: 50%;
    border-radius: 0px 20px 20px 0px;
    border-bottom: 3px dashed lightblue;
}