




body{
    margin: 0%;
    background-color: greenyellow;
}







/*h1{
    width: 10%;
}

body{
    background: url("Images/ebook.png"), cornflowerblue;
    background-size: 100px;
    background-repeat: repeat-x;
    background-attachment: fixed;
}


.zebra{
    width: 50%;
    text-align: center;
}
.zebra tr:nth-child(even){
    background-color: aqua;
}
.zebra tr:nth-child(odd){
    background-color: aquamarine;
}*/















/*Questionário 1
body{
    background-color: black;

    margin: 0;
    padding: 0;
}
header{ /*Formatando header
    color: white;
    background-color: lightcoral;
    margin: 20px;
    margin-left: 15px;
    margin-right: 15px;
    padding: 10px;
    padding-left: 15px;
    padding-right: 15px;
}
#TST{ /*Raio da borda
    width: 100px;
    height: 80px;
    background-color: white;
    
    border-bottom-left-radius: 20px;
    border-top-right-radius: 20px;
}

aside{ /*Sombra no aside
    width: 100px;
    height: 80px;
    background-color: wheat;

    box-shadow: 5px 5px 2px 0px #CCCCCC;
}
h1{ /*Sombra no h1
    color: whitesmoke;

    box-shadow: 3px 3px 2px 0 #DEDEDE;
}
p{ /*Tamanho das entrelinhas
    color: white;

    line-height: 1.5em;
}
p.destaque{ /*Borda sólida
    border: 3px solid #CC0000;
}
article{
    margin-top: 200px;
    background-color: white;

    min-width: 400px;
    max-width: 800px;

    height: 300px; /*Altura pra eu poder ver no site
}

/*Teste de box-sizing
.padding{
    background-color: white;

    width: 50%;
    padding: 5%;
    float: left;
    box-sizing: border-box;
}
#segunda{
    background-color: violet;
}

footer{
    background-color: turquoise;
}
table{
    margin-top: 100px;
    background-color: violet;
}
span{
    
    color: white;
}
.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {background-color: #ddd;}
  
  .dropdown:hover .dropdown-content {display: block;}
  
  .dropbtn:hover {background-color: #3e8e41;}*/